<h1>log in</h1>
  <% if flash[:alert] %>
    <p id="notice"><%= flash[:alert] %></p>
  <% end %>
  <%= form_tag do %>
      <div class="field">
        <%= label_tag :name, 'Name:', :class => "grid_1 alpha" %>
        <%= text_field_tag :name, params[:name], :class => "grid_4 omega" %>
      </div>
      <div class="field">
        <%= label_tag :password, 'Password:', :class => "grid_1 alpha" %>
        <%= password_field_tag :password, params[:password], :class => "grid_4 omega" %>
      </div>
      <div class="actions">
        <%= submit_tag "Login", :class => "grid_1 push_4" %>
      </div>
  <% end %>