- blogs.each do |blog|
  %article.container_5.clearfix.post
    %header.grid_5
      %h1= link_to blog.title, blog
      %h2= blog.posted
      %p 
        Submited by 
        %a Jerk
        %time= blog.posted.strftime('%d %b. %Y')
    .grid_5
      %img{ src: blog.image_url(:large).to_s, alt: blog.title }
    .grid_5= raw(blog.post)
    %footer
      .fb-like{ data: { href: blog_url(blog.id), send: 'false', layout: 'button_count', font: 'lucida grande', colorscheme: 'dark' } }
      %ul#admin-blog
        - if session[:user_id]
          %li= link_to 'Edit', edit_blog_path(blog)
          %li= link_to 'Destroy', blog, method: :delete, class: 'delete_btn', data: { confirm: 'Are you sure?' }