= form_for(@blog) do |f|
  - if @blog.errors.any?
    .error_explanation
      %h2
        = pluralize(@blog.errors.count, "error")
        prohibited this blog from being saved:
      %ul
        - @blog.errors.full_messages.each do |msg|
          %li= msg
  
  .field
    = f.label :title, class: 'grid_1 alpha'
    = f.text_field :title, class: 'grid_4 omega'   
  .field
    = f.label :posted, class: 'grid_1 alpha'
    = f.date_select :posted, class: 'grid_4 omega' 
  .field
    = f.label :post, class: 'grid_1 alpha'
    #ckeholder.grid_4.omega
      = f.text_area :post, id: 'editor1'
  .actions
    = f.submit class: 'grid_1 push_4'

  :javascript
    CKEDITOR.replace( 'editor1', {
      filebrowserBrowseUrl: '/blog_images',
      filebrowserImageBrowseUrl: '/blog_images',
      filebrowserUploadUrl: 'blog_images',
      filebrowserImageUploadUrl: 'blog_images',
      customConfig : '/assets/ckeditor_config.js'
    });