<h1>Listing blogs</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Title</th>
      <th></th>
    </tr>
  </thead>
  <tbody class="sorts" data-update-url="<%= sort_blogs_url %>">
<% @blogs.each do |blog| %>
    <%= content_tag_for :tr, blog do %>
      <td><%= blog.created_at.strftime("%d %b. %Y") %></td>
      <td><%= blog.title %></td>
      <td class="actions">
        <%= link_to 'Show', blog %>
        <%= link_to 'Edit', edit_blog_path(blog) %>
        <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
<% end %>
  </tbody>
</table>

<%= link_to 'New Blog', new_blog_path, :class => "push_4 grid_1 btn" %>
