- if notice
  %p#notice= notice

- @blogs.each do |blog|
  %article.container_5.clearfix.post
    %header.grid_5
      %h1= link_to blog.title, blog
      %p 
        Submited by 
        %a Jerk
        %time= blog.posted.strftime("%d %b. %Y")
    .grid_5= raw(blog.post)
    %footer
      <div class="fb-like" data-href=#{ blog_url(blog.id) } data-send="false" data-layout="button_count" data-font="lucida grande" data-colorscheme="dark"></div>
      %ul#admin-blog
        - if session[:user_id]
          %li= link_to 'Edit', edit_blog_path(blog)
          %li= link_to 'Destroy', blog, method: :delete, class: 'delete_btn', data: { confirm: 'Are you sure?' }

#fb-root
:javascript
  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));