%p#notice= notice

%article.container_5.clearfix.post
  %header.grid_5
    %h1= @blog.title
    %p
      Submited by
      %a Jerk
      %time= @blog.created_at.strftime("%d %b. %Y")
  %div.grid_5= raw(@blog.post)
  %footer.grid_5
    %ul
      %li Post to Facebook
    %ul.adminlistoptions
      - if session[:user_id]
        %li= link_to 'Edit', edit_blog_path
        %li= link_to 'Destroy', blog_path, method: :delete, class: "delete_btn", data: { confirm: 'Are you sure?' }