= form_for(@artwork) do |f|
  - if @artwork.errors.any?
    #error_explanation
      %h2
        = pluralize(@artwork.errors.count, "error")
        prohibited this artwork from being saved:
      %ul
        - @artwork.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :category_id, :class => "grid_1 alpha"
    = f.collection_select(:category_id, Category.all, :id, :name, {:prompt=>true}, { :class => "grid_1 omega" })
  .field
    = f.label :title, :class => "grid_1 alpha"
    = f.text_field :title, :class => "grid_4 omega"
  .field
    = f.label :medium, :class => "grid_1 alpha"
    = f.text_field :medium, :class => "grid_4 omega", :id => "mediumtxt", :data => {auto_complete_source: @media}
  .field
    = f.label :length, :class => "grid_1 alpha"
    = f.number_field :length, :class => "grid_1 omega"
  .field
    = f.label :width, :class => "grid_1 alpha"
    = f.number_field :width, :class => "grid_1 omega"
  .field
    = f.label :year, :class => "grid_1 alpha"
    = f.select :year, (2010..Time.now.year).to_a, {:prompt=>true}, {:class => "grid_1 omega"}
  .field
    = f.label :img_url, :class => "grid_1 alpha"
    = f.file_field :img_url, :class => "grid_4 omega"
  .actions
    = f.submit :class => "grid_1 push_4"