<%= form_for(@artwork) do |f| %>
  <% if @artwork.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@artwork.errors.count, "error") %> prohibited this artwork from being saved:</h2>

      <ul>
      <% @artwork.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br />
    <%= f.collection_select(:category_id, Category.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :medium %><br />
    <%= f.text_field :medium %>
  </div>
  <div class="field">
    <%= f.label :length %><br />
    <%= f.number_field :length, :size => 3 %>
  </div>
  <div class="field">
    <%= f.label :width %><br />
    <%= f.number_field :width %>
  </div>
  <div class="field">
    <%= f.label :year %><br />
    <%= f.select :year, (2010..Time.now.year).to_a %>
  </div>
  <div class="field">
    <%= f.label :img_url %><br />
    <%= f.file_field :img_url %>
  </div>
  <div class="field">
    <%= f.label :thumb_url %><br />
    <%= f.file_field :thumb_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
