%h1 create thumbnail

.crop-holder{ :class => "grid_5"}
  = image_tag @artwork.img_url_url(:large), id: "cropbox"

%h4 preview  
%div{ :style => "width:180px; height:180px; overflow:hidden" }
  = image_tag @artwork.img_url_url(:large), :id => "preview"

= form_for @artwork do |f|
  - %w[x y w h].each do |attribute|
    = f.hidden_field "crop_#{attribute}"

  %div{ :class => "actions"}
    = f.submit "Crop", :class => "push_4 grid_1"