%h1 listing artworks

%ul#categoryselectlist
  - @categories.each do |category|
    %li
      =link_to category.name, artworks_path(category_id: category.id)

%table.admintable
  %thead
    %tr
      %th Image
      %th Title
      %th Category
      %th Medium
      %th Size
      %th Year
      %th
  %tbody.sorts{ :data => { :update_url => sort_artworks_url } }
    - @artworks.each do |artwork|
      = content_tag_for :tr, artwork do
        %td= image_tag artwork.img_url_url(:icon).to_s
        %td= artwork.title
        %td= artwork.category.name
        %td= artwork.medium
        %td= artwork.length.to_s + " x " +artwork.width.to_s
        %td= artwork.year
        %td.actions
          = link_to 'Edit', edit_artwork_path(artwork)
          = link_to 'Destroy', artwork, method: :delete, class: "delete_btn", data: { confirm: 'Are you sure?', remote: true }

= link_to 'New Artwork', new_artwork_path, :class => "push_4 grid_1 btn"