<h1>Listing artworks</h1>
<table>
  <thead>
  <tr>
    <th>Image</th>
    <th>Title</th>
    <th>Category</th>
    <th>Medium</th>
    <th>Size</th>
    <th>Year</th>
    <th></th>
  </tr>
  </thead>
  <tbody class="sorts" data-update-url="<%= sort_artworks_url %>">
<% @artworks.each do |artwork| %>
      <%= content_tag_for :tr, artwork do %>
        <td><%= image_tag artwork.img_url_url(:icon).to_s %></td>
        <td><%= artwork.title %></td>
        <td><%= artwork.category.name %></td>
        <td><%= artwork.medium %></td>
        <td><%= artwork.length %> x <%= artwork.width %></td>
        <td><%= artwork.year %></td>
        <td class="actions">
            <%= link_to 'Edit', edit_artwork_path(artwork) %>
            <%= link_to 'Destroy', artwork, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      <% end %>
<% end %>
  </tbody>
</table>
<%= link_to 'New Artwork', new_artwork_path, :class => "push_4 grid_1 btn" %>
