<p id="notice"><%= notice %></p>

<%= image_tag @artwork.img_url_url.to_s %>
<p><b><%= @artwork.title %></b></p>
<p><%= @artwork.medium %></p>
<p><%= @artwork.length %> x <%= @artwork.width %></p>
<p><%= @artwork.year %></p>

