<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, :class => "grid_1 alpha" %>
    <%= f.text_field :name, :class => "grid_4 omega" %>
  </div>
  <div class="field">
    <%= f.label :password, 'Password', :class => "grid_1 alpha" %>
    <%= f.password_field :password, :class => "grid_4 omega" %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, 'Confirm', :class => "grid_1 alpha" %>
    <%= f.password_field :password_confirmation, :class => "grid_4 omega" %>
  </div>
  <div class="actions">
    <%= f.submit :class => "grid_1 push_4" %>
  </div>
<% end %>
