<h1>Listing categories</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Colour</th>
      <th>Hidden</th>
      <th></th>
    </tr>
  </thead>
  <tbody class="sorts" data-update-url="<%= sort_categories_url %>">
<% @categories.each do |category| %>
    <%= content_tag_for :tr, category do %>
      <td><%= category.name %></td>
      <td><%= category.colour %></td>
      <td><%= category.hidden %></td>
      <td class="actions">
        <%= link_to 'Edit', edit_category_path(category) %>
        <%= link_to 'Destroy', category, method: :delete, data: {confirm: 'Are you sure?'} %>
      </td>
    <% end %>
<% end %>
  </tbody>
</table>
<%= link_to 'New Category', new_category_path, :class => "push_4 grid_1 btn" %>