<p id="notice"><%= notice %></p>

<h1><%= @category.name %></h1>

<% @artworks.each do |artwork| %>
  <tr>
    <td><%= artwork.title %></td>
    <td><%= artwork.category.name %></td>
    <td><%= artwork.medium %></td>
    <td><%= artwork.length %></td>
    <td><%= artwork.width %></td>
    <td><%= artwork.year %></td>
    <td><%= artwork.img_url %></td>
    <td><%= artwork.thumb_url %></td>
  </tr>
<% end %>
