<!DOCTYPE html>
<html>
<head>
  <title>JerkTest</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="container_5 clearfix">
	<nav class="grid_5">
		<ul>
			<li><a href="http://jerkface.bigcartel.com/" class="white">Store</a></li>
      <!--li><a href="/contact" class="orange">Contact</a></li-->
      <li><%= link_to 'Contact',   static_contact_path %></li>

      <% @categories.each do |category| %>

      <li><%= link_to category.name,   categories_show_path(:cat => category.id) %></li>

      <% end %>

			<!--li><a href="/digital" class="blue">Digital</a></li>
			<li><a href="/graphic" class="green">Graphic</a></li>
			<li><a href="/small" class="red">Small</a></li>
			<li><a href="/painting" class="yellow">Painting</a></li-->
      <li><%= link_to 'Home',   static_home_path %></li>
		</ul>
	</nav>
</header>

<div role="main" class="container_5 clearfix">

<%= yield %>

<!--script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33869460-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script-->

</body>
</html>
