!!! 5
%html
  %head
    %title Jerkface NYC
    %meta{ name: 'viewport', content: 'initial-scale=.95, user-scalable=no' }
    %link{ href: 'http://fonts.googleapis.com/css?family=Pontano+Sans', rel: 'stylesheet', type: 'text/css' }
    = stylesheet_link_tag    "application", media: 'all'
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    .container
      %header.main
        %h1 Jerkface
        %nav.main
          %label.showmenu{ for: 'showmenu'}
          %input#showmenu{ type: 'checkbox', role: 'button' }
          %ul
            %li= link_to 'Blog', root_path, class: cp(root_path)
            = render '/categories/categories'
            = render '/menu_links/menulinks'
            %li= link_to 'Contact', contact_path, class: cp(contact_path)
        - if session[:user_id]
          %nav.admin
            %label.showmenu{ for: 'showadmin'}
            %input#showadmin{ type: 'checkbox', role: 'button' }
            %ul
              %li
                %ul
                  .navTitle Add
                  %li= link_to 'Blog Entry', new_blog_path
                  %li= link_to 'Artwork', new_artwork_path
                  %li= link_to 'Category', new_category_path
              %li 
                %ul
                  .navTitle Manage
                  %li= link_to 'Blog', blogs_path
                  %li= link_to 'Artworks', artworks_path
                  %li= link_to 'Categories', categories_path
                  %li= link_to 'Menu Links', menu_links_path
              %li
                %ul
                  .navTitle Settings
                  %li= link_to 'Users', users_path
              %li.logout= link_to 'Logout', logout_path, method: :delete 
      .content
        - if notice
          %p#notice= notice
        = yield

      