!!! 5
%html
  %head
    %title Jerkface NYC
    = stylesheet_link_tag    "application", media: 'all'
    = javascript_include_tag "application"
    = csrf_meta_tags
    %link{ href: 'https://fonts.googleapis.com/css?family=Pontano+Sans', rel: 'stylesheet', type: 'text/css' }

  %body
    %header#pgheader.container_5.clearfix
      %nav#main-navigation.grid_5
        %ul
          %li= link_to 'Store', 'http://jerkface.bigcartel.com/'
          %li= link_to 'Contact', contact_path, class: cp(contact_path)
          = render '/categories/categories'
          %li= link_to 'Blog', root_path, class: cp(root_path)

    #main.container_5.clearfix{ role: 'main' }
      = yield

    - if session[:user_id]
      %nav#admin
        %ul
          %li
            %a{ href: admin_path } Home
          %li
            Add Content
            %ul
              %li= link_to 'Blog Entry', new_blog_path
              %li= link_to 'Artwork', new_artwork_path
              %li= link_to 'Category', new_category_path
          %li 
            Manage Content
            %ul
              %li= link_to 'Blog', blogs_path
              %li= link_to 'Artworks', artworks_path
              %li= link_to 'Categories', categories_path
          %li
            Settings
            %ul
              %li= link_to 'Users', users_path
          %li= link_to 'Logout', logout_path, method: :delete       