!!! 5
%html
  %head
    %title Jerkface NYC
    %meta{ name: 'viewport', content: 'initial-scale=.95, user-scalable=no' }
    %link{ href: 'http://fonts.googleapis.com/css?family=Pontano+Sans', rel: 'stylesheet', type: 'text/css' }
    = stylesheet_link_tag    "application", media: 'all'
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    .container
      %header.main
        %h1 Jerkface
        %nav.main
          %label.showmenu{ for: 'showmenu'}
            %svg{ xmlns: 'http://www.w3.org/2000/svg', viewBox: '0 0 32 32' }
              %path{ d: 'M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896,6,2,6.896,2,8S2.896,10,4,10z M28,14H4c-1.104,0-2,0.896-2,2  s0.896,2,2,2h24c1.104,0,2-0.896,2-2S29.104,14,28,14z M28,22H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h24c1.104,0,2-0.896,2-2  S29.104,22,28,22z' }
          %input#showmenu{ type: 'checkbox', role: 'button' }
          %ul
            %li= link_to 'Blog', root_path, class: cp(root_path)
            = render '/categories/categories'
            = render '/menu_links/menulinks'
            %li= link_to 'Contact', contact_path, class: cp(contact_path)
        - if session[:user_id]
          %nav.admin
            %label.showmenu{ for: 'showadmin'}
              %svg{ xmlns: 'http://www.w3.org/2000/svg', viewBox: '0 0 512 512' }
                %path{ d: 'M512,288v-64l-69.156-11.531c-4.813-20.781-13-40.188-23.969-57.781l40.781-57.063l-45.25-45.25l-57.094,40.75 c-17.594-10.938-37-19.156-57.781-24L288,0h-64l-11.531,69.125c-20.75,4.844-40.188,13.063-57.781,24l-57.094-40.75l-45.25,45.25 l40.781,57.063c-10.969,17.563-19.156,37-23.969,57.781L0,224v64l69.156,11.531c4.813,20.781,13,40.188,23.969,57.781 l-40.781,57.094l45.25,45.25l57.125-40.781c17.563,10.969,37,19.156,57.75,23.969L224,512h64l11.531-69.156 c20.75-4.813,40.188-13,57.781-23.969l57.094,40.781l45.25-45.25l-40.781-57.094c10.969-17.594,19.156-37.031,23.969-57.781L512,288 z M256,384c-70.688,0-128-57.313-128-128s57.313-128,128-128s128,57.313,128,128S326.688,384,256,384z' }
            %input#showadmin{ type: 'checkbox', role: 'button' }
            %ul
              %li
                %ul
                  .navTitle Add
                  %li= link_to 'Blog Entry', new_blog_path
                  %li= link_to 'Artwork', new_artwork_path
                  %li= link_to 'Category', new_category_path
              %li 
                %ul
                  .navTitle Manage
                  %li= link_to 'Blog', blogs_path
                  %li= link_to 'Artworks', artworks_path
                  %li= link_to 'Categories', categories_path
                  %li= link_to 'Menu Links', menu_links_path
              %li
                %ul
                  .navTitle Settings
                  %li= link_to 'Users', users_path
              %li.logout= link_to 'Logout', logout_path, method: :delete 
      .content
        - if notice
          %p#notice= notice
        = yield

      